{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert New Record</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <section>
        <h1>Create or add new record into MySQL</h1>
        <hr />
        <form method="POST">
            {% csrf_token %}
            Employee Name: <input type="text" placeholder="Enter Employee name" name="empname" required /><br />
            Email: <input type="text" placeholder="Enter Email ID" name="email" required /><br />
            Country: <input type="text" placeholder="Enter Country name" name="country" required />
            <input type="submit" value="Insert Record" />
            {% if messages %}
            {% for message in messages %}
            <h4 style='color:green'>{{ message }}</h4>
            {% endfor %}
            {% endif %}
        </form>
        <hr />

    </section>

</body>

</html>